<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charsert="UTF-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>After School Classes</title>
        <script src= "https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="style.css">
    </head>
    
    <body>
        
    <div id="app">
      <header>
        <h1> {{sitename}} </h1>
      </header>
      <main>
        <section id="home" v-if="showClasslists">
           
          <button v-if = "removeFromCart" id=button v-on:click= "displayCheckout" > 
            {{cartItemCount}} 
            <i class="bx bx-cart"></i>
            Checkout
          </button>
          <button  disabled="disabled" v-else> {{cartItemCount}} Items
        </button>
           
        <section style="display: flex; flex-direction: row; width: 100%;">

        <div id="filters" style="display:inline-flex; align-self: flex-start; width: 30%;">
           
            <div id="sort">
                <div v-for="(value, key) in sort_dict">
                    
                    <input type="radio" name="sort" value="key" v-if="value.checked" checked v-on:click="sort(key)">
                    <input type="radio" name="sort" value="key" v-else v-on:click="sort(key)">
                    <label for="sort">{{key}}</label>
                </div>
            </div>
            <div id="order">
                <div v-for="(value, key) in order_dict">
                    <input type="radio" name="order" value="key" v-if="value.checked" checked v-on:click="order(key)">
                    <input type="radio" name="order" value="key" v-else v-on:click="order(key)">
                    <label for="order">{{key}}</label>
                </div> 
            </div>
        </div>  
            <section style="width: 100%;">
                <div id="search">
                    <input type="text" placeholder="search" v-if="search" v-model="searchInput">
                    <button v-on:click="search"><i class='bx bx-search'></i></button>
                </div>

                <div id="classlists">
                    <div class="classlist" v-for="item in classlist_copy">
                        <img v-bind:src="item.image" alt="" width="100%">
                        <p>Title: {{item.title}}</p>
                        <p>Description: {{item.description}}</p>
                        <p>Location: {{item.location}}</p>
                        <p>Price: {{item.price}}</p>
                        <p>AvailableSpace: {{item.availablespace}}</p>
                        <button v-if="item.availablespace > 0" v-on:click="add_to_cart(item)">Add To Cart</button>
                        <button v-else disabled>Add To Cart</button>
                    </div>
                </div>
            </section> 
        </section>
    </section>
        <section id="cart_page" v-else>
            <!--cart details after order-->
            <div>
                <h2>cart</h2>
                <div id="classlists">
                    <div class="classlist" v-for="item in cart">
                        <p>Title: {{item.item.title}} </p>
                        <p>Location: {{item.item.location}}</p>
                        <p>Price: {{item.item.price}}</p>
                        <button v-on:click="remove_from_cart(item)"> Remove from cart</button>
                    </div>
                </div>
            </div>
            <!--user details: name, surname and phone number-->
            <div id="Info">
                <h2>Checkout</h2>
                <button v-on:click="displayCheckout">
                    <i class='bx bx-left-arrow-alt'></i>  
                    Back 
                </button>
                
                <p>
                    <strong>Surname:</strong>
                    <input v-model.trim="surname" type="text">
                </p>
                <p>
                    <strong>Name:</strong>
                    <input v-model.trim="Name" type="text">
                </p>
                <div>
                <p>
                    <strong>Phone Number:</strong>
                    <input v-model="tel" type="number">
                </p>
                </div>
            <div>
                <h2>User Lesson Selection</h2>
                <p> Surname: {{surname}} </p>
                <p> Name: {{Name}}</p>
                <p> Phone Number: {{tel}}</p>
            </div> 
            
            <div>
                <h3>Complete</h3>
                <button disabled="disabled" v-if="!isValid">Submit</button>
                <button v-else v-on:click="submitForm">End</button>
            </div>
            </div>
        </section>
      </main>
    </div>
    </body>
    <script src="classlists.js"></script>
    <script>
    const webstore = new Vue({
        el:"#app",
        computed:{
            
            cartItemCount(){ 
                return this.cart.length || "Nothing Selected";
            },
            addToCart(){
                return this.classlist.availableInventory > this.cart.length
            },
            
            removeFromCart(){
                return this.cart.length > 0
            },
            search(){
                this.search_N(this.searchInput)
                return true
            },
            isValid()
            {
                return this.tel.trim() !== ''
            }
        },
        methods:{
            validatePhone() 
            {
                const phoneRegex = /^[0-9]{10}$/ 
                if (!phoneRegex.test(this.tel.trim())) 
                { this.phoneError = 'Phone number must be 10 digits'} 
                else { this.phoneError = '' }
            }, 
            
            submitForm() 
            {console.log('Hello'); 
            alert('Form submitted successfully!');
            },
            
            displayCheckout(){
                this.showClasslists = this.showClasslists ? false : true
            },
            // completecheckout(){
            
            //    },
        
            add_to_cart(item)
            {
                for (let i = 0; i < classlists.length; i++) {
                    const classlist= classlists[i]
                    if(item.id == classlist.id){
                        item.availablespace--
                    }
                }
                
                const id = `${item.title[0]}`+item.id+`${item.location[0]}`+Math.ceil(Math.random()*1000000)
                let data = {
                    "id": id,
                    "item":item,
                }

                this.cart.push(data)
            },
            remove_from_cart(cart_lesson){
                for (let i = 0; i < classlists.length; i++) {
                    const item = classlists[i]
                    if(item.id == cart_lesson.item.id){
                        item.availablespace++
                    }
                }
                for(let i = 0; i < this.cart.length; i++){
                    const item = this.cart[i]
                    if(cart_lesson.id == item.id){
                        this.cart.splice(i,1)
                        break;
                    }
                }
                
            },
            search_N(query){
                let val = this.sort_value.toLowerCase()

                let temp = []
                
                if(val != "all" & query.trim() != ''){
                    this.classlist_copy = this.classlists.filter(x => x[val].toLowerCase().includes(query.toLowerCase()))
                    this.order_sort(this.sort_value)
                }
                if(query.trim() == ''){
                    this.order_sort(this.sort_value)
                }

            },
          
            order(value){
                this.order_value = value
                this.order_sort(this.sort_value)
            },
            sort(value){
                this.sort_value = value
                this.order_sort(value)
            },
            order_sort(criteria){
                criteria = criteria.toLowerCase()
                if(criteria != "all"){
                    if(this.order_value == "Ascending"){

                        this.classlist_copy.sort((a,b)=>{
                            if(a[criteria] > b[criteria]){
                                return 1
                            }
                            if(b[criteria] > a[criteria]){
                                return -1
                            }
                            return 0
                        })
                    }else{
                        this.classlist_copy.sort((a,b)=>{
                            if(a[criteria] > b[criteria]){
                                return -1
                            }
                        
                            if(b[criteria] > a[criteria]){
                                return 1
                            }
                        
                            return 0
                        })
                    }
                }else{
                    this.classlist_copy = [...classlists]
                }
            },
            
        },
        
        watch:{
            parsedInput(){
                this.search()
            }
        },
        data:{
            sitename:"After School Classes",
            cart:[],
            order_value:"Ascending",
            order_dict:{
                "Ascending":{id:1,checked:true},
                "Descending":{id:2,checked:false}
            },
            sort_value:"All",
            sort_dict:{
                "All":{id:1,checked:true},
                "Title":{id:2,checked:false},
                "Location":{id:3,checked:false},
                "Price":{id:4,checked:false}
            },
            searchInput:'',
            classlists: [...classlists],
            classlist_copy:[...classlists],
            showClasslists:true,
            Name:'',
            surname:'',
            tel:'',
            
            // U_pick:{
            //     surname:'',
            //     Name:'',
            //     tel:'',
              
            // },
            
        }
    })
</script> 
      </html>